--
-- PostgreSQL database dump
--

-- Dumped from database version 16.9 (Debian 16.9-1.pgdg120+1)
-- Dumped by pg_dump version 16.9 (Debian 16.9-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: call_sessions; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.call_sessions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    patient_id uuid NOT NULL,
    stage character varying(50) NOT NULL,
    surgery_type character varying(50) NOT NULL,
    scheduled_date timestamp without time zone NOT NULL,
    days_from_surgery integer NOT NULL,
    call_type character varying(50) NOT NULL,
    call_status character varying(30) DEFAULT 'scheduled'::character varying NOT NULL,
    actual_call_start timestamp without time zone,
    call_duration_seconds integer,
    call_outcome character varying(50),
    agent_notes text,
    compliance_score integer,
    concerns_identified text[],
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.call_sessions OWNER TO "user";

--
-- Name: clinical_staff; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.clinical_staff (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    role character varying(50) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.clinical_staff OWNER TO "user";

--
-- Name: patients; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.patients (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    primary_phone_number character varying(20) NOT NULL,
    secondary_phone_number character varying(20),
    surgery_date timestamp without time zone NOT NULL,
    primary_physician_id uuid NOT NULL,
    surgery_readiness_status character varying(30) DEFAULT 'done'::character varying NOT NULL,
    overall_compliance_score double precision DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.patients OWNER TO "user";

--
-- Name: call_sessions call_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.call_sessions
    ADD CONSTRAINT call_sessions_pkey PRIMARY KEY (id);


--
-- Name: clinical_staff clinical_staff_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.clinical_staff
    ADD CONSTRAINT clinical_staff_pkey PRIMARY KEY (id);


--
-- Name: patients patients_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_pkey PRIMARY KEY (id);


--
-- Name: idx_call_sessions_days_from_surgery; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_call_sessions_days_from_surgery ON public.call_sessions USING btree (days_from_surgery);


--
-- Name: idx_call_sessions_patient; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_call_sessions_patient ON public.call_sessions USING btree (patient_id);


--
-- Name: idx_call_sessions_scheduled_date; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_call_sessions_scheduled_date ON public.call_sessions USING btree (scheduled_date);


--
-- Name: idx_call_sessions_status; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_call_sessions_status ON public.call_sessions USING btree (call_status);


--
-- Name: idx_call_sessions_surgery_type; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_call_sessions_surgery_type ON public.call_sessions USING btree (surgery_type);


--
-- Name: idx_clinical_staff_email; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_clinical_staff_email ON public.clinical_staff USING btree (email);


--
-- Name: idx_clinical_staff_role; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_clinical_staff_role ON public.clinical_staff USING btree (role);


--
-- Name: idx_patients_physician; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_patients_physician ON public.patients USING btree (primary_physician_id);


--
-- Name: idx_patients_primary_phone; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_patients_primary_phone ON public.patients USING btree (primary_phone_number);


--
-- Name: idx_patients_secondary_phone; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_patients_secondary_phone ON public.patients USING btree (secondary_phone_number);


--
-- Name: idx_patients_surgery_date; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_patients_surgery_date ON public.patients USING btree (surgery_date);


--
-- Name: call_sessions call_sessions_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.call_sessions
    ADD CONSTRAINT call_sessions_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(id);


--
-- Name: patients patients_primary_physician_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_primary_physician_id_fkey FOREIGN KEY (primary_physician_id) REFERENCES public.clinical_staff(id);


--
-- PostgreSQL database dump complete
--

